//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import "init";

// Components
@import "components/components";


// Layout
@import "layout/layout";
@import "layout/docs/layout";



.page-loading {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.page-loading div:nth-child(2) {
    display: none !important;
}


.loading-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lh-50 {
    height: 300px;
}
